<div class="container" style="margin-top: 50px">
  <div class="vet-info">
    <h2>Vet Info</h2>
  </div>
  <div class="img-av">
    <img
      src="https://imgs.search.brave.com/-C5WVSNIIUx_xDWhlRuf7et3_f4RnoUvBZyZ4xils1c/rs:fit:634:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5M/b0VuRHVsUHlOazQ4/aDMwQWNCSDlRSGFG/aSZwaWQ9QXBp"
      alt=""
      width="100"
      height="70"
    />
  </div>
  <br />

  <div class="vet-name">
    <table>
      <tr>
        <td>Username : cristinajohn</td>
        <td>NPI No : 65343943</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          <h4>Dr. {{ vet.userName }}</h4>
        </td>
        <td>
          <h4>Department: {{ vet.department }}</h4>
        </td>
        <td>
          <h4>Country: {{ vet.country }}</h4>
        </td>
      </tr>

      <tr>
        <td>
          <h4>Dr. {{ vet.userName }}</h4>
        </td>
        <td>
          <h4>Department: {{ vet.department }}</h4>
        </td>
        <td>
          <h4>Country: {{ vet.country }}</h4>
        </td>
      </tr>
    </table>
  </div>
</div>
